body {
  cursor: url('../clicker/assets/copiecrosshair.png'), auto;
}

body {
  background-image: url("../clicker/assets/background.jpg");
}

p {
  color: white;
  
}

#menu {
  position: absolute;
  top: 0;
  right: -75px;
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Aligner les éléments en haut */
  justify-content: end;
  width: 25%;
  height: 25%;
}

#menu img {
  width: 100%; /* Pour que chaque image occupe 35% de la largeur du conteneur */
  margin-bottom: 10px;
  margin: 3px;
}

#menu2 {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Aligner les éléments en haut */
  justify-content: end;
  width: 50%;
}

#monsters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 400px; 
  margin-top: 50px;
}

#monsters img:hover {
  transform: scale(1.10);
}

#gamename {
  position: absolute;
  font-family: Compacta;
  color: red;
  font-size: 60px;
  text-align: end;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  right: 7px;
  bottom: 480px; 
}


#scoreshow {
  position: absolute;
  font-family: Compacta;
  color: red;
  font-size: 40px;
  text-align: end;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  right: 15px;
  
}

.tooltip {
  position: absolute;
  top: -40px; /* Ajustez la position verticale pour placer l'info-bulle au-dessus de l'image */
  left: 20%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  width: 200px; /* Ajustez la largeur comme vous le souhaitez */
  height: auto;
  z-index: 10;
}

.item-container {
  position: relative;
  display: inline-block;
}

.item-container:hover .tooltip {
  opacity: 1;
}
